/*
	_ssh-custom.scss
*/
.inline, .inline li{
	display:inline;
}

a, a:hover {
	color: black;
	text-decoration: none;
}

a.page-link:hover {
	color: green;
	text-decoration: none;
	border-bottom: solid 3px gray;
}

li {
	list-style-type: none;
}

.align-center {
	text-align:center;
}

dt {
	font-size: larger;
}

dd {
	margin-top: -20px;
	text-align: right;
}