/*
	_ssh-custom.scss
*/


.inline, .inline li{
	display: inline;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #3c9d47;
}

.posts .postName:hover, .posts .postName:hover a {
	background-color: #3c9d47;
	color: #f3fabb;
}


a.page-link:hover {
	border-bottom: solid 3px #3c9d47;
}
/*
li {
	list-style-type: none;
}
*/
.align-center {
	text-align: center;
}


.post-tags li {
	background-color: #3c9d47;
	border-radius: 5px;
	padding: 1px 5px 1px 3px;
	list-style-type: none;
}
.post-tags li a {
	color: #f3fabb;
}

.pc-category {
	font-style: italic;
}
@include media-query($on-palm) {
	.pc-category {
		display: none;		
	}
}	