/*
	_ssh-custom.scss
*/


.inline, .inline li{
	display:inline;
}

a, a:hover, a:visited {
	text-decoration: none;
}

a:hover {
	color: green;
}


a.page-link:hover {
	border-bottom: solid 3px gray;
}

li {
	list-style-type: none;
}

.align-center {
	text-align:center;
}

dt {
	font-size: larger;
}

dd {
	margin-top: -20px;
	text-align: right;
}
/*
a, span {
	display: inline-block;
}
*/

.post-tags li {
	background-color:#3c9d47;
	border-radius:5px;
	padding:1px 5px 1px 3px;
}
.post-tags li a {
	color:#f3fabb;
}